<!DOCTYPE html>
<html>
<head>
    <title>Story 5 PPW - Jadwal View Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static "bootstrap-4.3.1-dist/css/bootstrap.min.css" %}">
    <script src="{% static "bootstrap-4.3.1-dist/js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" href="{% static 'main.css' %}" />
</head>
<body>
    {% include "navbar.html" %}
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-2"><p>Hari</p></div>
            <div class="col-2"><p>Tanggal</p></div>
            <div class="col-2"><p>Jam</p></div>
            <div class="col-2"><p>Nama Kegiatan</p></div>
            <div class="col-2"><p>Tempat</p></div>
            <div class="col-2"><p>Kategori</p></div>
        </div>


        {% for jadwal in jadwals %}
        <div class="row">
            <div class="col-2"><p>{{ jadwal.hari }}</p></div>
            <div class="col-2"><p>{{ jadwal.tanggal }}</p></div>
            <div class="col-2"><p>{{ jadwal.jam }}</p></div>
            <div class="col-2"><p>{{ jadwal.nama_kegiatan }}</p></div>
            <div class="col-2"><p>{{ jadwal.tempat }}</p></div>
            <div class="col-2"><p>{{ jadwal.kategori }}</p></div>
        </div>
        {% endfor %}
        

    </div>






</body>
</html>