<!DOCTYPE html>
<html>
<head>
    <title>Story 5 PPW - Jadwal Form Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static "bootstrap-4.3.1-dist/css/bootstrap.min.css" %}">
    <script src="{% static "bootstrap-4.3.1-dist/js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" href="{% static 'main.css' %}" />
</head>
<body>
    {% include "navbar.html" %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>
                    <p>
                        Isi jadwal dengan form di bawah ini
                    </p>
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <form action="save_jadwal/" method="POST">
                    <div class="form-group">
                        {% csrf_token %}

                        {{ create_jadwal_form }}
                    </div>
                    <button type="submit" class="btn btn-light">Simpan</button>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h1>
                    <p>
                        Delete jadwal yang sudah ada
                    </p>
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <form action="delete_jadwal/" method="POST">
                    <div class="form-group">
                        {% csrf_token %}

                        {{ delete_jadwal_form }}
                    </div>
                    <button type="submit" class="btn btn-light">Hapus</button>
                </form>
            </div>
        </div>

    </div>





</body>
</html>