<!DOCTYPE html>
<html>
<head>
    <title>Story 5 PPW - Simpan Jadwal Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static "bootstrap-4.3.1-dist/css/bootstrap.min.css" %}">
    <script src="{% static "bootstrap-4.3.1-dist/js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" href="{% static 'main.css' %}" />
</head>
<body>
    {% include "navbar.html" %}
    <h1>
        {{ save_status }}
    </h1>
</body>
</html>